.digiplus {
  width: 100%;
  .digiplus__1 {
    width: 90%;
    height: 440px;
    border: 1px solid #efeff0;
    margin: 20px auto;
    border-radius: 15px;
    display: flex;
    flex-flow: row wrap;
    .digiplus__1__1 {
      width: 25%;
      height: inherit;
      border-left: 1px solid #efeff0;
      .digiplus__1__1__1 {
        width: 100%;
        height: 65px;
        padding-top: 10px;
        padding-right: 20px;
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        justify-content: center;
        align-items: flex-start;
        & h4 {
          font-family: var(--fontfamily);
          font-size: 17px;
          color: black;
        }
        & p {
          font-family: var(--fontfamily);
          font-size: 12px;
          color: #dddedf;
        }
      }
      .digiplus__1__1__2 {
        width: 100%;
        height: 310px;
        display: flex;
        flex-flow: row wrap;
        padding: 20px;
        padding-top: 5px;
        & a {
          width: 100%;
          height: 310px;
          display: flex;
          flex-flow: row wrap;
        }
        .digiplus__1__1__2__1 {
          width: 50%;
          height: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          & img {
            width: 129px;
            height: 129px;
          }
        }
      }
      .digiplus__1__1__3 {
        width: 100%;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 10px;
        & a {
          text-decoration: none;
        }
        & span {
          font-family: var(--fontfamily);
          color: #19bfd4;
          font-size: 12px;
          fill: #19bfd4;
          position: relative;
          & svg{
            top: -2px;
            margin-right: 0px;
            position: absolute;
            & path{
              transform: scale(0.85);
            }
          }
        }
      }
    }
  }
  .digiplus__2 {
    display: flex;
    flex-flow: row wrap;
    width: 90%;
    height: 390px;
    background-color: #941b80;
    margin: 40px auto;
    border-radius: 15px;
    .digiplus__2__1 {
      width: 30%;
      height: inherit;
      display: flex;
      flex-direction: column;
      row-gap: 10px;
      margin-right: 40px;
      padding-top: 35px;
      background-image: url(../../images/digiplus/digiplus.png);
      background-size: 100%;
      background-repeat: no-repeat;
      & p{
        font-family: var(--fontfamily);
        font-size: 15px;
        color: whitesmoke;
      }
      .join {
        width: 105px;
        height: 40px;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        column-gap: 8px;
        text-decoration: none;
        border: 1px solid whitesmoke;
        border-radius: 9px;
        fill: whitesmoke;
        color: whitesmoke;
        font-family: var(--fontfamily);
        font-size: 13px;
        .arrowleftsvg{
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
      
    }
    .digiplus__2__2{
      height: 92%;
      width: 63%;
      background-color: white;
      margin: 15px;
      border-radius: 10px;
      .digiplus__2__2__1{
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 60px;
        .digiplus__2__2__1__1{
          display: flex;
          flex-flow: row wrap;
          align-items: center;
          column-gap: 8px;
          fill: #B12BA4;
          padding-right: 20px;
          & h4{
            font-family: var(--fontfamily);
            font-size: 16px;
          }
        }
        .digiplus__2__2__1__2{
          & a{
            height: 100%;
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            text-decoration: none;
            fill: #B12BA4;
            padding-left: 10px;
           
            & span{
              font-family: var(--fontfamily);
              font-size: 13px;
              color: #B12BA4;
            }
           .flex{
            margin-left: 20px;
            position: relative;
            & svg{
              position: absolute;
              top: -10px;
              left: -20px;
              & path{
                transform: scale(0.89);
              }
            }
           }
          }
        }
      }
      .digiplus__2__2__2{
        width: 100%;
        height: 305px;
        .digiplus__2__2__2__1{
          width: 100%;
          height: 50%;
          & a{
            height: 100%;
            width: 16%;
            & img{
              height: 90%;
            width: 16%;
            }
          }
        }
        .digiplus__2__2__2__2{
          width: 100%;
          height: 50%;
          & a{
            height: 100%;
            width: 16%;
            & img{
              height: 90%;
            width: 16%;
            }
          }
        }
      }
    }
  }
}
